doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title страница_курсов
    link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/assets/css/styles.min.css')
  body
    nav.navbar.navbar-light.navbar-expand-md.py-3
      .container
        img(src='/assets/img/logo.png')
        a.navbar-brand.d-flex.align-items-center(href='#')
          span Курсы
        button.navbar-toggler(data-bs-toggle='collapse' data-bs-target='#navcol-2')
          span.visually-hidden Toggle navigation
          span.navbar-toggler-icon
        #navcol-2.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
            li.nav-item
            li.nav-item
          a.btn.btn-primary.ms-md-2(role='button' href='#') Войти
    h1.display-1.fw-semibold(style='margin-left: 40px;') Java разработка
    .container
      .row
        .col-md-12(style='font-size: 32px;font-family: Bitter, serif;')
          p(style='font-family: Arimo, sans-serif;')
            | На курсе вы изучите основы программирования, азы computer science, основы языка Java и освоите объектно ориентированное программирование.
      .row
        .col-md-4
          h1(style='position: static;font-size: 31.88px;') Основы программирования
        .col-md-4
          h1 ООП
        .col-md-4
          h1 разработка приложений
    .container
      .row.gy-1
        .col
        .col
          button.btn.btn-primary.btn-lg.text-center(type='button' data-bs-target='#') Приобрести курс
    script(src='assets/bootstrap/js/bootstrap.min.js')
