<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./app_server/views/static/pages/index.css">
  <title>ТГУ - дополнительное образование</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__name">
      <img class="header__logo" src="./app_server/views/static/images/logo.png">
      <h1 class="header__title">дополнительное образование</h1>
    </div>
    <div class="header__menus">
      <p class="header__menu" href="#">О ТГУ</p>
      <a class="header__menu" href="#">Сведения</a>
      <a class="header__menu" href="#">Курсы</a>
      <a class="header__menu" href="#">Войти</a>
    </div>
  </header>
  <main class="content">
    <section class="description__columns">
      <div class="description__column">
        <h2 class="description__title">Учим <span class="description__title description__span">профессиям</span> и навыкам</h2>
        <p class="description__subtitle">Выберите курс со скидкой до 50% и получите второй — в подарок!</p>
        <a class="description__link" href="#">Условия акции</a>
      </div>
      <img class="people" src="./app_server/views/static/images/people.png">
    </section>
    <section class="direction">
      <h2 class="direction__title">Направления обучения</h2>
      <div class="direction__help">
        <a class="direction__link">Помогите с выбором</a>
      </div>
      <div class="direction__search">
        <input class="direction__input" type="text" value="Поиск курса"></input>
      </div>
    </section>
    <section class="table">
      <h2 class="table__title">Популярные курсы</h2>
      <div class="table__grid">
        <div class="table__cell">
          <h2 class="table__cell_title">Маркетинг</h2>
          <ul class="table__cell_list">
            <li>Интернет-маркетолог</li>
            <li>SMM-менеджер</li>
            <li>Копирайтер</li>
            <li>SEO-специалист</li>
            <li>Таргетолог</li>
          </ul>
        </div>
        <div class="table__cell">
          <h2 class="table__cell_title">Программи-рование</h2>
          <ul class="table__cell_list">
            <li>Инженер по тестированию</li>
            <li>Frontend-разработчик</li>
            <li>Java-разработчик</li>
          </ul>
        </div>
        <div class="table__cell">
          <h2 class="table__cell_title">Аналитика</h2>
          <ul class="table__cell_list">
            <li>Data Scientist</li>
            <li>Аналитик данных</li>
            <li>Аналитик BI</li>
            <li>Power BI & Excel</li>
            <li>DataOps-инженер</li>
          </ul>
        </div>
        <div class="table__cell">
          <h2 class="table__cell_title">Аналитика</h2>
          <ul class="table__cell_list">
            <li>Data Scientist</li>
            <li>Аналитик данных</li>
            <li>Аналитик BI</li>
            <li>Power BI & Excel</li>
            <li>DataOps-инженер</li>
          </ul>
        </div>
        <div class="table__cell">
          <h2 class="table__cell_title">Дизайн</h2>
          <ul class="table__cell_list">
            <li>Дизайн</li>
            <li>UX/UI-дизайнер</li>
            <li>Графический дизайнер</li>
            <li>Моушн-дизайнер</li>
            <li>Дизайнер интерьера</li>
          </ul>
        </div>
        <div class="table__cell">
          <h2 class="table__cell_title">Высшее образование</h2>
          <ul class="table__cell_list">
            <li>Высшее образование</li>
            <li>Управление цифровым продуктом</li>
          </ul>
        </div>
        <div class="table__cell">
          <h2 class="table__cell_title">Финансы и инвестиции</h2>
          <ul class="table__cell_list">
            <li>Финансовый менеджер</li>
            <li>Криптовалюты</li>
            <li>Бухгалтер</li>
          </ul>
        </div>
        <div class="table__cell">
          <h2 class="table__cell_title">Компьютерные игры</h2>
          <ul class="table__cell_list">
            <li>Компьютерные игры</li>
            <li>Геймдизайнер</li>
            <li>Игоровой аналитик</li>
          </ul>
        </div>
      </div>
      <a class="table__button-more" href="#">
        <h2 class="table__button-more_text">Показать больше...</h2>
      </a>
    </section>
    <section class="contact">
      <div class="contact__two-columns">
        <div class="contact__description">
          <h2 class="contact__title">Поможем выбрать курс!</h2>
          <p class="contact__subtitle">Если у вас есть вопросы о формате или вы не знаете, что выбрать, оставьте свой номер — мы позвоним, чтобы ответить на все ваши вопросы.</p>
        </div>
        <div class="contact__form">
          <input class="contact__input-big" type="text" value="Имя"></input>
          <div class="contact__input-down">
            <input class="contact__input-small" type="email" value="E-mail"></input>
            <input class="contact__input-small" type="text" value="Телефон"></input>
          </div>
          <p class="contact__agreement">Нажимая на кнопку, я соглашаюсь на обработку персональных данных и с правилами пользования Платформой</p>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__columns">
      <div class="footer__courses">
        <h3 class="footer__title">Курсы</h3>
        <img src="./app_server/views/static/images/Line.png">
        <ul class="footer__list">
          <li class="footer__cell">Маркетинг</li>
          <li class="footer__cell">Программирование</li>
          <li class="footer__cell">Аналитика</li>
          <li class="footer__cell">Дизайн</li>
          <li class="footer__cell">Высшее образование</li>
          <li class="footer__cell">Финансы и инвестиции</li>
        </ul>
      </div>
      <div class="footer__courses">
        <h3 class="footer__title">О ТГУ</h3>
        <img src="./app_server/views/static/images/Line.png">
        <ul class="footer__list">
          <li class="footer__cell">Маркетинг</li>
          <li class="footer__cell">Программирование</li>
          <li class="footer__cell">Аналитика</li>
          <li class="footer__cell">Дизайн</li>
          <li class="footer__cell">Высшее образование</li>
          <li class="footer__cell">Финансы и инвестиции</li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
